@model IEnumerable<Emdad.Models.SectorsServices>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SectorsServicesName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectorsServicesType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectorsServicesLink)
            </th>
            <th>
                <p>Sector Name</p>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectorsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDelete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SectorsServicesName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectorsServicesType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectorsServicesLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sectors.SectorsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sectors.SectorsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDelete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SectorsServicesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SectorsServicesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SectorsServicesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
